html,
body {
  height: 100%;
}

.brand-logo {
    width: 70%;
}

.form-control:focus {
    z-index: 2;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  text-align: center;
}

.form-control {
    position: relative;
    height: 50px;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
    margin-bottom: -1px;
    border-radius: 0;
}

.bottom {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}